.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

}

.logo_section {
  width: inherit;
  height: 45%;
}

.logo_section h1,
.logo_section h2 {
  margin: 0;
  padding: 0;
}


.logo_section h1 {
  margin-left: 10vw;
  margin-top: 8vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 6em;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.logo_section h2 {
  margin-left: 12.5vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  font-size: 1.2em;
  color: rgba(255, 255, 255, 1);
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}


.form_section {
  width: inherit;
  height: 55%;
  background-color: rgba(0, 0, 0, 0.6);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-top: 5%;
}

.form_header {
  text-align: left;
  padding-left: 10%;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 2.5em;
}

.form_group {
  padding-left: 10%;
  padding-top: 1%;
  position: relative;
}

.form_group label {
  font-size: 1.35em;
  font-weight: 400;
  color: white;
  padding-bottom: 10vh;
}

.form_group input {
  margin-top: 1vh;
  width: 78vw;
  background-color: transparent;
  border-radius: 2px;
  height: 5vh;
  border: none;
  outline: none;
  font-size: 1.2em;
  color: rgba(255, 255, 255);
  font-weight: 300;
  letter-spacing: 0.06em;
  padding-left: 7px;
  padding-right: 7px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
}


.form_group input:focus {
  background: rgba(0, 0, 0, 0.25);
  border-bottom: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
}

.form_group .icon {
  position: absolute;
  right: 12vw;
  top: 72.5%;
  transition: top 0.3s ease-in-out;
  transform: translateY(-50%);
  font-size: 1.4em;
  color: white;
}

.form_group input:focus+.icon {
  top: 20%;
}

.submit_button {
  margin-top: 1vh;
  width: 60vw;
  height: 5vh;
  border-radius: 5px;
  font-size: 1.35em;
  font-weight: 500;
  color: white;
  background-color: rgba(200, 197, 245, 0.5);
  display: block;
  margin: 0 10%;
}

.submit_button:active {
  background-color: rgba(129, 121, 250, 1);
} 

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
}


.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #0000;
  border-right-color: #a59de6;
  position: relative;
  animation: l24 1s infinite linear;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: -8px;
  border-radius: 50%;
  border: inherit;
  animation: inherit;
  animation-duration: 2s;
}
.loader:after {
  animation-duration: 4s;
}
@keyframes l24 {
  100% {transform: rotate(1turn)}
}

.error {
  color: red;
  margin: 0;
  padding: 0;
  margin-left: 18%;
  margin-top: 1%;
}