APP_NAME=orca2echo
SECRET_KEY=your-django-secret-key-here
DEBUG=True
HOST=127.0.0.1
PORT=8000
APP_URL=http://127.0.0.1:8000

EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-gmail-app-password

VAPID_PRIVATE_KEY=your-vapid-private-key
VAPID_PUBLIC_KEY=your-vapid-public-key

MONGO_URL=mongodb+srv://user:password@cluster.mongodb.net/
