{% extends 'index_base.html' %}
{% block title %}
Add Friend | Orca
{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/add_friend.css' %}" />
{% endblock %}
{% block page %}Add Friend{% endblock %}

{% block body %}
<div class="container">
    <div class="logo_section">
        <h1>Orca</h1>
        <h2>Speak your mind, Let it echo</h2>
    </div>
    <div class="form_section">
        <div class="form_container">
            <h1 class="form_header">Add Friend</h1>
            <form id="add-friend-form">
                {# {% csrf_token %} #}
                <div class="form_group">
                    <label for="short_name">Enter short name</label>
                    <input type="text" id="short_name" name="short_name" style="text-transform: uppercase;"
                        oninput="this.value = this.value.replace(/[^a-zA-Z]/g, '').toUpperCase();" required />
                    <span class="icon"><i class="fa-solid fa-file-signature"></i></span>
                </div>

                <div class="form_group">
                    <label for="id_number">Enter ID number</label>
                    <input type="text" id="id_number" name="id_number"
                        oninput="this.value = this.value.replace(/[^0-9]/g, '');" maxlength="20" pattern="^[0-9]{20}$"
                        required />
                    <span class="icon"><i class="fa-solid fa-id-card"></i></span>
                </div>
                {% if error %}
                <p class="error">{{ error }}</p>
                {% endif %}
                <div class="form_group">
                    <button type="submit" class="submit_button" id="submit-button">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Full-screen overlay with loader -->
{% comment %} <div class="overlay_form" id="overlay_form">
    <div class="loader"></div>
</div> {% endcomment %}
{% endblock %}

{% block js %}
<script src="{% static 'js/add_friend.js' %}"></script>
{% endblock %}