<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% comment %} <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"> {% endcomment %}


    <!-- Head -->
    {% comment %} <link rel="manifest" href="{% static 'manifest.json' %}" /> {% endcomment %}
    <link rel="manifest" href="{% static 'manifest.json' %}?v=1.0.2" />
    <meta name="theme-color" content="#0a0a0a" />

    <!-- Body -->

    {% block css %}

    {% endblock %}

    <title>
      {% block title %}

      {% endblock %}
    </title>
  </head>
  <body>
    {% block body %}

    {% endblock %}

    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register("{% static 'js/sw.js' %}").then((reg) => {
          console.log('Service Worker Registered')
          reg.update() // Force it to check for a new version
        })
      }
    </script>

    <script>
      let deferredPrompt
      const installBtn = document.createElement('button')
      installBtn.textContent = 'Install App'
      installBtn.style.display = 'none'
      installBtn.style.position = 'fixed'
      installBtn.style.bottom = '20px'
      installBtn.style.right = '20px'
      installBtn.style.padding = '10px 15px'
      installBtn.style.backgroundColor = '#0a0a0a'
      installBtn.style.color = 'white'
      installBtn.style.border = 'none'
      installBtn.style.borderRadius = '8px'
      installBtn.style.zIndex = '9999'
      
      document.body.appendChild(installBtn)
      
      window.addEventListener('beforeinstallprompt', (e) => {
        e.preventDefault() // Stop automatic prompt
        deferredPrompt = e
        installBtn.style.display = 'block'
      
        installBtn.addEventListener('click', () => {
          installBtn.style.display = 'none'
          deferredPrompt.prompt()
          deferredPrompt.userChoice.then((choiceResult) => {
            if (choiceResult.outcome === 'accepted') {
              console.log('User accepted install')
            } else {
              console.log('User dismissed install')
            }
            deferredPrompt = null
          })
        })
      })
    </script>
    {% block js %}

    {% endblock %}
  </body>
</html>
