{% extends 'index_base.html' %}
{% block title %}
Friends
{% if short_name %}{{ short_name }}{% endif %} | Orca
{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/friends.css' %}" />
{% endblock %}

{% block page %}Friends{% endblock %}


{% block body %}

<div class="card_container">
{% for request_data in friend_request_data %}
<div class="card_body" 
     onclick="window.location.href='{% url 'search-profile' %}?short-name={{request_data.user_data.short_name_enc}}&id-number={{request_data.user_data.search_id_enc}}'">
        <div class="gender"><i class="fa-solid {{ request_data.user_data.gender_icon_string }}"></i></div>
        <img src="data:image/png;base64,{{ request_data.user_profile.profile_picture }}" alt="image" class="card_img" />
        <p class="card_name">{{ request_data.user_data.full_name }}</p>        
    </div>
{% endfor %}
</div>

{% endblock %}

{% block js %}
<script src="{% static 'js/friends.js' %}"></script>
{% endblock %}