{% extends 'index_base.html' %}
{% block title %}Orca{% endblock %}
{% block page %}Orca{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %}

{% block body %}
<div class="spacer_1"></div>

{% for friend in friends_data %}
    <a href="{% url 'chat' %}?with={{ friend.user_data.encrypted_user_name }}" class="user-link">
        <div class="user">
            <img src="data:image/png;base64,{{ friend.user_profile.profile_picture }}" alt="image" class="user-img" />
            <div class="text_area">
                <div class="name">{{ friend.user_data.full_name }}</div>
                <div class="last_message">Ki re ki korchis</div>
            </div>
        </div>
    </a>
{% endfor %}

{% endblock %}


{% block js %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}