{% extends 'base.html' %}
{% block title %}
  OTP Verification | Orca
{% endblock %}

{% block css %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/otp.css' %}" />
{% endblock %}

{% block body %}
<div class="container">
    <div class="logo_section">
        <h1>Orca</h1>
        <h2>Speak your mind, Let it echo</h2>
    </div>
    <div class="form_section">
        <div class="form_container">
            <h1 class="form_header">Authentication</h1>
            <form method="POST" action="/verify_otp" id="signin-form">
                {% csrf_token %}
                <div class="form_group">
                    <label for="otp">Enter OTP</label>
                    <div class="otp_input_container">
                        {% for i in "123456" %}
                            <input type="text" class="otp_input" maxlength="1" pattern="[0-9]*" inputmode="numeric" required />
                        {% endfor %}
                        <input type="hidden" id="otp" name="otp" />
                        <span class="icon"><i class="fa-solid fa-key"></i></span>
                    </div>
                </div>

                {% if error_message %}
                    <p class="error">{{ error_message }}</p>
                {% endif %}

                <div class="form_group">
                    <br />
                    <button type="submit" class="submit_button" id="submit-button">Verify</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/otp.js' %}"></script>
{% endblock %}
