{% extends 'index_base.html' %}
{% block title %}
Sent Requests
{% if short_name %}{{ short_name }}{% endif %} | Orca
{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/sent_requests.css' %}" />
{% endblock %}

{% block page %}Sent Requests{% endblock %}


{% block body %}


<div class="card_container">
{% for request_data in friend_request_data %}
    <form method="POST" action="/cancel-request" id="add-friend-req-form" class="card_body">
        {% csrf_token %}
        <div class="gender"><i class="fa-solid {{ request_data.user_data.gender_icon_string }}"></i></div>
        <img src="data:image/png;base64,{{ request_data.user_profile.profile_picture }}" alt="image" class="card_img" />
        <p class="card_name">{{ request_data.user_data.full_name }}</p>
        <div class="about">
            <p class="card_about">{{ request_data.user_profile.about }}</p>
        </div>

        <input type="hidden" id="short_name_enc" name="short_name_enc" value="{{ request_data.user_data.short_name }}" class="hidden"/>
        <input type="hidden" id="id_number_enc" name="id_number_enc" value="{{ request_data.user_data.search_id }}" class="hidden"/>
        <input type="hidden" id="from_sent_request" name="from_sent_request" value="1" class="hidden"/>

        <div class="add_friend_button">
            <button type="submit" class="submit_button" id="submit-button">Cancel Requests</button>
        </div>
    </form>
{% endfor %}
</div>

{% endblock %}

{% block js %}
<script src="{% static 'js/sent_requests.js' %}"></script>
{% endblock %}