{% extends 'base.html' %}
{% load static %}
{% block title %}
signup | Orca
{% endblock %}

{% block body %}
<div class="container">
  <div class="logo_section">
    <h1>Orca</h1>
    <h2>Speak your mind, Let it echo</h2>
  </div>
  <div class="form_section">
    <div class="form_container">
      <h1 class="form_header">Sign Up</h1>
      <form method="POST" action="/signup" id="signup-form">
        {% csrf_token %}
        <div class="form_group">
          <label for="full_name">Full name</label>
          <input type="text" id="full_name" name="full_name" placeholder="Snow Flake" oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '');" required />
          <span class="icon"><i class="fas fa-user"></i></span>
        </div>
        <div class="form_group">
          <label for="gender">Gender</label>
          <select id="gender" name="gender">
            <option value="">Select</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
            <option value="prefer_not_to_say">Prefer not to say</option>
          </select>

        </div>
        <div class="form_group">
          <label for="dob">Date of birth</label>
          <input type="text" id="dob" name="dob" placeholder="mm/dd/yyyy"
            onfocus="(this.type='date'); this.max = new Date().toISOString().split('T')[0]"
            onblur="if (!this.value) { this.type = 'text'; }" required />
        </div>

        {% if error %}
          <p class="error">{{ error }}</p>
        {% endif %}
        <div class="form_group">
          <button type="submit" class="submit_button" id="submit-button">Next</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Full-screen overlay with loader -->
<div class="overlay" id="overlay">
  <div class="loader"></div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/signup.js' %}"></script>
{% endblock %}