{% extends 'base.html' %}
{% block title %}
signup | Orca
{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}" />
{% endblock %}

{% block body %}
<div class="container">
  <div class="logo_section">
    <h1>Orca</h1>
    <h2>Speak your mind, Let it echo</h2>
  </div>
  <div class="form_section">
    <div class="form_container">
      <h1 class="form_header">Sign Up</h1>
      <form method="POST" action="/signin" id="signin-form">
        {% csrf_token %}
        <div class="form_group">
          <label for="first_name">First name</label>
          <input type="text" id="first_name" name="first_name" placeholder="Snow Flake" required />
          <span class="icon"><i class="fas fa-user"></i></span>
        </div>
        <div class="form_group">
          <label for="dob">Date of birth</label>
          <input type="date" id="dob" name="dob" required />
          <span class="icon"><i class="fas fa-calendar-alt"></i></span>
        </div>
        <div class="form_group">
          <label for="gender">Gender</label>
          <select id="gender" name="gender">
            <option value="">Select</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
            <option value="prefer_not_to_say">Prefer not to say</option>
          </select>
        </div>
        <div class="form_group">
          <label for="mothers_name">Mother's Name</label>
          <input type="text" id="mothers_name" name="mothers_name" placeholder="Mother's Name" />
          <span class="icon"><i class="fas fa-user-friends"></i></span>
        </div>
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
        <div class="form_group">
          <br />
          <button type="submit" class="submit_button" id="submit-button">Next</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Full-screen overlay with loader -->
<div class="overlay" id="overlay">
  <div class="loader"></div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/signup.js' %}"></script>
{% endblock %}
