.spacer_1{height:1vh}
.user{
    /* background-color: rgba(102, 51, 153,0.2);
    border-bottom: 1px solid black; */

    user-select: none;
    height: 8.4vh;
    display: flex;
    align-items: center; 
    /* justify-content: center; */
    padding-left: 5vw;
}


.user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.text_area{
    padding-left: 5vw;
}
.name{
font-size: 1.05rem;
font-weight: 400;
}
.last_message{
    padding-top: 0.75vh;
    font-size: 0.9rem;
font-weight: 300;
}


.user-link {
    text-decoration: none !important;
    color: inherit !important;
    background: none !important;
    display: block;
}
.user-link:visited,
.user-link:active,
.user-link:focus,
.user-link:hover {
    text-decoration: none !important;
    color: inherit !important;
    background: none !important;
}